extends layout

block content

  nav.nav
      a(href='/')
        span &larr;
        |  Back
  article.portfolio
    .inner-wrapper.flex-row-wrap
      .about-intro-box.box

        h1= `Server Error`
        h2= `Error status code: ${err.status} - Server Error`
      p.error-p= `Friendly error message: ${err.message}`

    div.not-found-stack
      hr
      pre #{err.stack}

  nav.nav
        a(href='/')
          span &larr;
          |  Back