extends layout

block content

  article.portfolio-intro

    h1 Let's make the web great together!

    p Hi, I'm Juliana. I'm a design-thinking full-stack developer. This is my portfolio that contains my 
      | latest projects. Each project will show HTML, CSS, JavaScript, and other skills necessary for a 
      | full-stack developer. These project ideas are from the Treehouse development community and learning 
      | website.


  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell 
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt= `${project.project_name}`)
            h5= project.project_name
